@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<i class="fa fa-user"></i>
@if (SignInManager.IsSignedIn(User))
{
    <!--<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
        </button>
    </form>-->
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Manage/Index">Hello @UserManager.GetUserName(User)!</a>
    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-sign-out"></i> Logout</a>

}
else
{
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i> Register</a>
}

<div style="position:absolute; top:50px;">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Administrator"))
        {
            {
                <a asp-controller="Administrator" asp-action="Index" style="margin-right: 25px;">⚙️ Manage</a> 
            }

            {
                <a asp-controller="Statistics" asp-action="Index"><i class="fa fa-bar-chart"></i> Statistics</a>
            }
        }
    }
</div>