@*@model BooksStore.ViewModels.BookListViewModel changedtoday*@

@model BooksStore.Views.Books.BookListView




<div id="product-imgs">
    @foreach (var book in Model.Books)
    {
        <div class="product-preview" productId="@book.BookId.">
            <img src="@book.PictureName" alt="">
        </div>
    }
</div>