@{ ViewData["Title"] = "NotFound"; }

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet"/>

<div class="section">
    <div class="container branch_page_container">
        <div class="section-title">
            <div class='delete_form_container'>
                <h2>Not Found</h2>
                <a asp-controller="Home" asp-action="Index">Back Home</a>
            </div>
        </div>
    </div>
</div>