@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@using Microsoft.AspNetCore.Authorization
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService;
@model BooksStore.Views.Books.BookListView




<section class="banner-section set-bg" data-setbg="img/bluebanner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="banner__text">
                    <h2>Search Results</h2>
                    <div class="banner__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Search Results</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @if (User.Identity.IsAuthenticated) // Checks whether the user is authenticated or not
            {
                if (User.IsInRole("Administrator")) // Checks whether the user is in that role
                {
                    {
                        <div class="section-title">
                            <br /><br />
                            <a class="primary-btn cta-btn" asp-action="Index">Manage Books</a>
                        </div>
                    }
                }
            }

            <div class="col-md-7">
                <div id="main-imgs">

                    <partial name="_detailsView" model="@Model" />
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

}