
<br />
<br />
<br />
<br />
<br />
<div class="section">
    <div class='container'>
        <div class='row' style='padding-top:25px; padding-bottom:25px;'>
            <div class='col-md-12'>
                <div id='mainContentWrapper'>
                    <div class="col-md-8 col-md-offset-2">
                        <h1 style="text-align: center;">
                            @ViewBag.CheckoutCompleteMessage
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
