@{
    ViewData["Title"] = "Terms And Conditions";
}

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="img/bluebanner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="banner__text">
                    <div class="banner__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Terms & Conditions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<hr />

<div align="center" class="MsoNormal" style="text-align:center">
    <hr align="center" size="2" width="100%" />
</div>
<h1><a name="_30j0zll"></a>Terms and Conditions (&quot;Terms&quot;)<o:p></o:p></h1>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    Last updated: <span style="background: #FFF2CC">25/09/2020<o:p></o:p></span>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    Please read these Terms and Conditions (&quot;Terms&quot;, &quot;Terms and Conditions&quot;) carefully before using the <span style="background: #FFF2CC">http://www.!Steimatzky.co.il</span> website (the &quot;Service&quot;) operated by <span style="background: #FFF2CC">!Steimatzky ltd.</span> (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;).<o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.<o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.<o:p></o:p></b>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">Purchases<o:p></o:p></b>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    If you wish to purchase any product or service made available through the Service (&quot;Purchase&quot;), you may be asked to supply certain information relevant to your Purchase including, without limitation, your …<o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left:-8.6pt;border-collapse:collapse;mso-table-layout-alt:fixed;
 mso-yfti-tbllook:1536;mso-padding-alt:0in 5.4pt 0in 5.4pt" width="650">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
        <td style="width: 487.3pt; background: #F3F3F3; padding: 8.6pt 8.6pt 8.6pt 8.6pt" valign="top" width="650">
            <p class="MsoNormal" style="line-height:normal;mso-pagination:none">
                The Purchases section is for businesses that sell online (physical or digital). For the full disclosure section...<o:p></o:p>
            </p>
        </td>
    </tr>
</table>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">Subscriptions<o:p></o:p></b>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    Some parts of the Service are billed on a subscription basis (&quot;Subscription(s)&quot;). You will be billed in advance on a recurring ...<o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left:-8.6pt;border-collapse:collapse;mso-table-layout-alt:fixed;
 mso-yfti-tbllook:1536;mso-padding-alt:0in 5.4pt 0in 5.4pt" width="650">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
        <td style="width: 487.3pt; background: #F3F3F3; padding: 8.6pt 8.6pt 8.6pt 8.6pt" valign="top" width="650">
            <p class="MsoNormal" style="line-height:normal;mso-pagination:none">
                The Subscriptions section is for SaaS businesses. For the full disclosure section...<o:p></o:p>
            </p>
        </td>
    </tr>
</table>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">Content<o:p></o:p></b>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (&quot;Content&quot;). You are responsible for the …<o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left:-8.6pt;border-collapse:collapse;mso-table-layout-alt:fixed;
 mso-yfti-tbllook:1536;mso-padding-alt:0in 5.4pt 0in 5.4pt" width="650">
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
        <td style="width: 487.3pt; background: #F3F3F3; padding: 8.6pt 8.6pt 8.6pt 8.6pt" valign="top" width="650">
            <p class="MsoNormal" style="line-height:normal;mso-pagination:none">
                The Content section is for businesses that allow users to create, edit, share, make content on their websites or apps. For the full disclosure section...<o:p></o:p>
            </p>
        </td>
    </tr>
</table>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">Links To Other Web Sites<o:p></o:p></b>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    Our Service may contain links to third-party web sites or services that are not owned or controlled by <span style="background: #FFF2CC">!Steimatzky ltd.</span><o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <span style="background: #FFF2CC">!Steimatzky ltd. </span> has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that <span style="background: #FFF2CC">!Steimatzky ltd. </span> shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.<o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">Changes<o:p></o:p></b>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least <span style="background: #FFF2CC">30  days</span> notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">Contact Us<o:p></o:p></b>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>
<p class="MsoNormal">
    If you have any questions about these Terms, please <a asp-controller="Contact" asp-action="Index"> contact us. </a><o:p></o:p>
</p>
<p class="MsoNormal">
    <o:p>&nbsp;</o:p>
</p>

<section class="bottom-right">
    <a href="/Orders/Checkout">
        <button type="button" class="site-btn">Back To Checkout</button>
    </a>
</section>