@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <header style="text-align: center;">
                <h3 class="text-danger" style="text-align:center">You do not have access to this resource.</h3>
                <img src="~/img/access-denied.png" style="height: 500px; width: 700px; align-self:center" />
            </header>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>