@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <header style="text-align: center;">
                <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">This account has been locked out, please try again later.</p>
            </header>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>